*{
  /*--indigo-800 : #290661;*/
  font-family: Lato;
}

body {
	background: linear-gradient(to bottom right, peru, saddlebrown);
	height: 100vh;
	overflow-y: hidden;
}

main {
	/*background: green, blue;*/
}

#game-table div {
	border: 1px solid black;
	text-align: center;
}

#new-game{
		
}

#player1-title{
}

#circle-player-1{

}

#player2-title{
}

#circle-player-2{

}

#player1-global-score{
	color: red;
}

#dice{
}

#dice1{

}
#dice2{
	display: none;
}
#dice3{
	display: none;
}
#dice4{
	display: none;
}
#dice5{
	display: none;
}
#dice6{
	display: none;
}

#player2-global-score{
	color: red;
}

#player1-score{
	background-color: red;
}

#current-score-1{
	color: white;
}
#play{
}

#roll-dice{

}

#hold{

}

#player2-score{
	background-color: red;
}
#current-score-2{
	color: white;
}