* {
  font-family: 'Lato', sans-serif;
}

body {
	background: linear-gradient(to bottom right, peru, saddlebrown);
	height: 100vh;
	overflow-y: hidden;
}

main {
	background-image: url(img/gris.jpg), url(img/blanc.jpg);
  background-position: left, right;
	background-size: 50%, 50%;
  background-repeat: no-repeat, no-repeat;

}

.bi {
	color: red;
}

#game-table div {
	/*border: 1px solid black;*/
	text-align: center;
	border: 0px;
}

#new-game{
	font-size: 1.2rem;
		
}

#player1-title{
	font-size: 3rem;
}

#circle-player-1, #circle-player-2{
	font-size: 1.5rem;
}

#player2-title{
	font-size: 3rem;
}


#player1-global-score{
	color: red;
	font-size: 5rem;
}

#dice{
}

#dice1, #dice2, #dice3, #dice4, #dice5, #dice6{
 color:red;
 font-size: 5rem;
 
}
#dice2{
	display: none;
}
#dice3{
	display: none;
}
#dice4{
	display: none;
}
#dice5{
	display: none;
}
#dice6{
	display: none;
}

#player2-global-score{
	color: red;
	font-size: 5rem;
}

#player1-score, #player2-score{
	background-color: red;
	width: 150px;
}

.current-word{
	font-size: 0.8rem;
}

#current-score-1{
	color: white;
	font-size: 1.5rem;
}
#play{
}

#roll-dice{
	font-size: 1.2rem;
}

#hold{
	font-size: 1.2rem;
}

#current-score-2{
	color: white;
	font-size: 1.5rem;
}